<h1>Blogs</h1>

<% blogs.forEach(function(blog){ %>
    <div>
        <h2><%= blog.title %> </h2>
        <img src="<%= blog.img %>">
        <p><%= blog.body %></p>
        <p><%= blog.created %></p>
    </div>

<% }) %>